@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1.5625em;
    font-family: 'Montserrat';
    background-image: url('https://images.unsplash.com/photo-1574484184081-afea8a62f9c0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODczMDMwMjF8&ixlib=rb-4.0.3&q=100%&w=100%');
}

strong {
    font-weight:600;
}

.caixa { 
    border: 4px rgb(0, 0, 0) solid;
    background: #add8e6; /* Light Blue */
    background: linear-gradient(130deg, #add8e6 0%, #98fb98 100%); /* Gradient from light blue to soft green */
    padding: 2%;
    margin: 3%;
    margin-left: 17%;
    margin-right: 17%;
  }
  

.div_subclasses {
    padding: 1%;
}

.ingrediente_descricao {
    padding-left: 12%;
    padding-bottom: 0.9%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulos {
    padding-bottom: 0.3%;
    text-align:center;
    font-family: 'Dancing Script', cursive;
}

.item {
    padding-left: 23%;
}

.ingredientes {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-device-width: 1300px) {
    .caixa {
        margin-left: 12%;
        margin-right: 12%;
    }

    .ingrediente_descricao {
        padding-left: 15%;
        padding-bottom: 0.9%;
    }

    .div_subclasses {
        padding: 2%;
    }

    .item {
        padding-left: 15%;
    }
}

@media only screen and (max-device-width: 800px) {
    .caixa {
        margin-left: 7%;
        margin-right: 7%;
    }
    
    .ingrediente_descricao {
        padding-left: 10%;
        padding-bottom: 0.9%;
    }

    .div_subclasses {
        padding: 2%;
    }

    .item {
        padding-left: 10%;
    }
}
